* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.filter-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: content;
  margin: 15px 0px;
  border: 1px solid black;
}
.items-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px;
}
.filter-property {
  display: flex;
  flex-flow: row nowrap;
  min-width: max-content;
  width: 100%;
  padding: 10px 10px;
}
.item-block-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0.2em 0.3em;
  margin-left: 1em;
  border-radius: 2%;
  box-shadow: 0px 0px 5px 1px rgb(125, 125, 125);
}
.item-block-column span {
  font-size: 1.1em;
}
.item-header img {
  max-width: 100%;
  max-height: 180px;
  padding: 10px 15px;
}
.item-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.item-body {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-body-property {
  border-bottom: 1px solid rgb(165, 165, 165);
  border-radius: 5%;
  padding: 3px 0px;
}
.item-action-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}
.item-block-list {
  display: flex;
  width: 100%;
  padding: 15px 0px;
}
.item-create-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.item-create-form {
  display: flex;
  flex-direction: column;
  width: 33%;
}

/*
<COMBO BOX CSS>
*/
.combo-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}
.combo-title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.combo-variant-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*
</COMBO BOX CSS>
*/
/*
<CHECKBOX LIST  CSS>
*/
.checkbox-list-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.checkbox-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkbox-list-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkbox-list-body-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0px;
}
.checkbox-list-body-item-value {
margin: 0em 0.2em;
}
/*
</CHECKBOX LIST  CSS>
*/
