.item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1600px;
  margin: 40px auto !important;
}
.item-page-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.item-header-left {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: min-content;
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px rgba(244, 197, 41, 1);
}
.item-header-left img {
  max-width: 100%;
  border-radius: 5%;
}
.card-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  padding: 5px;
}
.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 50px;
  background: rgb(244, 197, 41);
  color: #712800;
  background: linear-gradient(
    0deg,
    rgba(244, 197, 41, 1) 0%,
    rgba(255, 229, 95, 1) 100%
  );
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.buy-button:hover,
.buy-icon-container:hover {
  transform: scale(1.02);
}
.buy-icon-container {
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(244, 197, 41, 1) 0%,
    rgba(255, 229, 95, 1) 100%
  );
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 5px !important;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}
.buy-icon {
  display: grid;
  height: 24px;
  width: 24px;
  background: url(https://market.dota2.net/images/new/dota_cart.svg?2) no-repeat;
}
.item-header-right {
  width: 66%;
  margin-left: auto !important;
  display: flex;
  flex-direction: column;
}
