@media (min-width: 640px) {
  .multi-combo-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  .multi-combo-chosen {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    position: relative;
  }
  .multi-combo-chosen-element {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 3px;
    margin: 6px 3px !important;
    background: #ffdd45;
    border-radius: 3px;
    cursor: pointer;
    word-break: break-all;
  }
  .multi-combo-chosen-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
  }
  .multi-combo-delete-button {
    margin-left: auto !important;
    margin-right: 3px !important;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .multi-combo-search {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 10px 0px 0px 0px !important;
  }
  .multi-combo-search input {
    flex: 1;
    width: 100%;
    min-height: 35px;
    padding-left: 5px;
    background: none;
    outline: none;
    caret-color: rgb(218, 218, 218);
    border-radius: 3px;
    border: 0.5px solid #ffdd45;
    color: rgb(218, 218, 218);
  }
  .multi-combo-switch {
    position: relative;
    display: flex;
    width: 35px !important;
    min-height: 35px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #ffdd45;
    background-image: url("https://www.shareicon.net/data/512x512/2015/09/12/99851_down_512x512.png");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
  }
  .switch-reversed {
    transform: rotateX(180deg);
  }
  .multi-combo-variants {
    position: absolute;
    top: 98%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px; /*чтоб не мешало остальным блокам*/
    overflow: hidden;
    opacity: 0;
    background: rgb(9, 9, 9);
    transition: all 0.25s ease-in-out;
  }
  .multi-combo-active {
    overflow: visible;
    opacity: 1;
  }
  .multi-combo-item-variant {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    color: rgb(218, 218, 218);
    cursor: pointer;
    background: #232323;
    transition: all 0.25s ease-in-out;
    padding: 5px 10px;
  }
  .multi-combo-item-variant:hover {
    background: #ffdd45;
    color: #232323;
  }
  .multi-combo-variants-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffdd45;
  }
  .multi-variant-disabled {
    display: none;
  }
}
